<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="404.css" />
    <title>
        <%= pagetitle%>
    </title>
</head>

<body>
    <div id="bar" class="bar">
        <h1 class="h1bar">404 error</h1>
    </div>
    </div>
    <div id="body" class="body">
        <h1 class="h1body">the page not found</h1>
        </script>

    </div>
</body>

</html>