<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="cv.css" />
    <title>cv</title>
</head>

<body>
    <div id="bar" class="bar">
        <h1 class="h1bar">my cv</h1>
        <form id="homeform" class="homeform" method="GET" action="http://localhost:8080/home">
            <button id="homebutton" class="homebutton" type="submit">Home</button>
        </form>
    </div>
    </div>
    <div id="body" class="body">
        <h1 class="Name">Mina Faried Saad</h1>
        <div class="personal">
            <h2>personal</h2>
            <h4>birthday:16/4/1999</h4>
            <h4>email:monyfaried25@gmail.com</h4>
            <h4>mobile phone:01277042692</h4>
            <h4>adress:Hady street, Omrania, Giza, Egypt</h4>
            <h4>github link:
                <a href="https://github.com/minafaried">https://github.com/minafaried</a>
            </h4>
            <h4>linkedIn:
                <a href="https://www.linkedin.com/in/mina-faried-275185189/">https://www.linkedin.com/in/mina-faried-275185189/</a>
            </h4>
            <h4>military status : Postponed</h4>
        </div>
        <div class="objectives">
            <h2>objectives</h2>
            <h4>get more experience and knowledge about the different technology , meet new people, develop my skills to be a professional developer </h4>
        </div>
        <div class="education">
            <h2>education</h2>
            <h3>university</h3>
            <h4>TILL NOW <br>*level 3 computer and Artificial Inelegance (FCAI), Cairo university<br>GPA:2.9
            </h4>
        </div>
        <div class="experience">
            <h2>EXPERIENCE</h2>
            <h3>internship in I-Valley</h3>
            <h4>flutter development developing apps by flutter </h4>
            <h3>ACM training</h3>
            <h4>we solved many problems on
                <a href="https://codeforces.com">https://codeforces.com</a> website and understood many algoritmes
            </h4>
        </div>
        <div class="skills">
            <h2>skills</h2>
            <div class="language">
                <h3>languages</h3>
                <h4>arabic:Fluent</h4>
                <h4>english:Intermediate</h4>
                <h4>german:beginner</h4>
            </div>
            <div class="computer">
                <h3>computer</h3>
                <h4>c++:very good</h4>
                <h4>java:very good</h4>
                <h4>sql server:very goot</h4>
                <h4>flutter:good</h4>
                <h4>python:good</h4>
                <h4>prolog:good</h4>
                <h4>front-end web:good</h4>
                <h4>nodeJS:good</h4>
                <h4>c#:beginner</h4>
                <h4>unity:beginner</h4>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="personalskills">
            <h2>personal skills</h2>
            <h4>Problem solving skills</h4>
            <h4>Team work skills</h4>
            <h4>Time management</h4>
            <h4>self study</h4>
            <h4>leadership skills</h4>
        </div>
        <div class="project">
            <h2>projects</h2>
            <h3>TEACHER-STUDENT-ASSISTANCE </h3>
            <h4>app development by flutter mobile application to communicate teachers with his students </h4>
            <h3>BIG INT</h3>
            <h4>console application in c++
                <br> c++ has limited to store integers . the project help to solve this problem by building big int library to add subtract and compare between to big numbers </h4>
            <h3>FLIGHT RESERVATION</h3>
            <h4>windows application in c# and SQL server
                <br> the app help customer to book his flight and take the information from customer and save it in data base ,the app can cancel and update his booking </h4>
            <h3>SOLVE SUDOKU </h3>
            <h4>prolog code algorithm to solve the Sudoku problem by DFS uninformed search -Ai</h4>
            <h3>ASSEMBLY SIMULATION</h3>
            <h4>java windows application simulation for assembly languages instructions operations PROJECTS</h4>
        </div>
    </div>
</body>

</html>